.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
}
.modal-overlay.show{
  display: block;
}
.modal-overlay{
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}